:root {
    /* --title-text-color: #212121;
    --text-color: #757575; */
    --accent-color: #2f82c6;
    --grey-color:#e3e5ea; 
    --dark-grey-color: #d6d8db;
    --white-color:#ffffff;
    --main-font: "Roboto", sans-serif; 
}
    /* --social-link: #afb1b8; */
    /* --timing-fn: cubic-bezier(0.4, 0, 0.2, 1); */ 
