:root {
    --accent-color: #2f82c6;
    --grey-color:#e3e5ea; 
    --middle-grey-color:#d6d8db;
    --dark-grey-color:#737476;
    --white-color:#ffffff;
    --red-color: red;
    --main-font: "Roboto", sans-serif; 
}

